<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
Categories: <br>
{% for category in categories %}
{{ category.name }}<br>
{% endfor%}

<h1>Create a new Category </h1>
<form action="" method="POST">
{% csrf_token %}
Category: <input type="text" name="title"/><br/>
Description: <br/>
<textarea cols="35" rows="8" name="description">
</textarea><br/>
<input type="submit" value="Enter"/>
</form>

<p><a href="{% url 'home' %}">Go back to home</a></p>
</body>
</html>